@import "../../style/variables.scss";

.surveyHolder {
  background: $White;
  padding: 30px 30px;
  border-radius: 2px;
  // border: 1px solid $Light;
  h5 {
    font-size: 1.4em;
  }
}

.adviceHeader {
  font-weight: 500;
}

.surveyTitle {
  color: $Dark;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.surveyDescription {
  font-size: 1.1em;
  margin: 10px 0;
}

.surveyCategory {
  margin: 50px 10px;
}

.categoryTitle {
  font-size: 1.2em;
  margin: 10px 0;
  Color: $Color1;
}

.invalid {
  outline: 1px solid #ff0000 !important;
}

.questionHolder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid darken($White,20%);
  box-shadow: 2px 2px darken($White,30%);
}

.questionHolder:hover {
  background: lighten($Light,10%);
}

.answerHolder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 20px;
  margin: 10px 0;
}


.oddQuestion {
  // background: $Light;
}


.question {
  min-width: 30%;
  max-width: 30%;
  width: 30%;
}

.answerHeader {
  font-size: 0.7em;
  font-weight: bold;
  margin: 10px -10px -10px 20px;
  color: darken($Color1, 25%);
  white-space: pre-wrap;
  text-align: center;
}

.multipleChoiceHolder {
  padding: 0px 0px 40px 0px;
}

.multipleQuestion {
  margin: 10px 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.multiRadio {
}

#studentInfo {
  margin-bottom: 100px;
}
