@import "../../style/variables.scss";
$Blue: #00275D;
$Red: #BF2C37;
$Bright: lighten(#17A2B8,10%); // lighten(#00275D,20%); //
$Black: #1a1a1a;

.surveyBody {
  background: $Black;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  min-width: 500px;

}

.surveyHolder {
  margin: auto;
  padding: 30px 30px;
  min-width: 500px;
  border-radius: 2px;
  h5 {
    font-size: 1.4em;
  }
  color: $White;
}

.categoryTitle {
  font-size: 1.2em;
  margin: 10px 0;
  text-align: right;
  text-decoration: underline;
  color: $White;
}

.questionHolder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid darken($Bright,20%);
  box-shadow: 2px 2px darken($Bright,30%);
}

.answerHeader {
  font-size: 1em;
  font-weight: bold;
  // margin: 10px -10px -10px 20px;
  color: lighten($Bright,10%);
  white-space: pre-wrap;
  text-align: center;
}

.answerHeaderTitle {
  padding: 5px;
}

.questionHolder:hover {
  background: $Bright;
}

.surveyTitle {
  color: $Bright;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.surveyDescription {
  font-size: 1.1em;
  margin: 10px 0;
}

.surveyCategory {
  margin: 50px 3% 50px 5%;
}

.adviceHeader {
  font-weight: 500;
}


.invalid {
  outline: 1px solid #ff0000 !important;
}



.answerHolder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 20px;
  margin: 10px 0;
}

#non-disclosure {

}
#nd-image {
  width: 100%;
}

.oddQuestion {
  // background: $Light;
}


.question {
  min-width: 30%;
  max-width: 30%;
  width: 30%;
}



.multipleChoiceHolder {
  padding: 0px 0px 40px 0px;
}

.multipleQuestion {
  margin: 10px 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.multiRadio {
}

#studentInfo {
  margin-bottom: 100px;
}
