@import "./style/variables.scss";
@import "./containers/survey/survey.scss";
@import "./containers/survey_editor/survey_editor.scss";
@import "./containers/auth/auth.scss";
@import "./containers/dashboard/dashboard.scss";
@import "./containers/user_editor/user_editor.scss";

body {
  background: $White;
  background-image: url("/columns.jpg");
  background-attachment: fixed;
  background-position: center bottom;
  overflow-y: scroll;
}

.bannerHolder {
  width:50%;
  // background-color: rgba(255,255,255, 0.5);

  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  // border: 1px solid rgba(255,255,255, 0.75);
  z-index: 100;
  float: none;

}

.banner {
  max-width:100%;
  max-height:100%;

}
