@import "../../style/variables.scss";


.resetPassword {
    text-align: center;
    display: block;
    text-decoration: underline;
    cursor: pointer;
    color: $Color1;
    margin-bottom: 15px;
}

.firebaseui-card-content {
  background: $White;
  padding: 5px !important;
  margin: 5px !important;
  border-radius: 2px;
  border: 1px solid $Highlight;
}
